# Entorno virtual (cambia el nombre si usas otro)
entorno/
venv/
env/

# Archivos de Python generados
__pycache__/
*.py[cod]
*$py.class

# Cache y otros
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Archivos de IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de instalación
*.egg-info/
dist/
build/
temp_4c029a7c5d2e49058a05b68ab9bdf51a/.env
.env

# Ignorar carpeta de datos
data/

# Ignorar archivos de datos pesados (por si quedan fuera de data)
*.parquet
*.csv
*.xlsx

# Ignorar archivos temporales que empiezan con "temp_"
temp_*

# Asegurar que ignore el .env
.env
